/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    font-size: 100%;
}

img {
    max-width: 100%;
}

body {
    width: 80%;
    margin: 0 auto;
}

.capa {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2rem;
    position: relative;
}

.title_logo {
    position: absolute;
    top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

.logo {
    width: 100px;
}

.contatos i {
    padding: 5px 10px 0 10px;
    font-size: 1.9rem;
}

.contatos i.fa-whatsapp {
    color: #085c08;
}

.contatos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #d1d1d1;
    padding: 10px;
    width: 100%;
    align-items: center;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.contatos a {
    color: blue;
    font-size: 1rem;
    text-transform: lowercase;
    display: block;
}

.contatos i.fa-instagram {
    color: #e95950;
}

.contatos i.fa-envelope-square {
    color: blue;
}

.contatos i:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #53f753;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid blue;
    border-left: 2px solid blue;
}

.conteudo p,
.conteudo h2 {
    flex-basis: 50%;
}

.conteudo h2 {
    text-align: center;
    color:darkred;
    font-size: 1.2rem;
}

.conteudo p {
    box-shadow: 3px 3px 3px;
    padding: 10px;
    background-color: #f4f455;
    border-radius: 10px;
}

.rodape {
    background-image: url(..//imagens/capa4.jpeg);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-position: top center;
    width: 100%;
    height: 70vh;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.rodape h3 {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width:812px) {
    body {
        width: 100%;
    }

    .title_logo {
        top: -20px;
        font-weight: bolder;
    }

    .logo {
        width: 80px;
        padding: 5px;
    }

    .contatos i {
        padding: 5px 5px 0 5px;
        font-size: 1.5rem;
    }


    .title_logo h1 {
        font-size: .8rem;
        width: 200px;
    }

    .conteudo {
        flex-direction: column;
        border-left: 2px solid blue;
        margin: 0 5px 0 5px;
    }

    .conteudo h2,
    .conteudo p {
        flex-basis: 100%;
    }

    .conteudo h2 {
        font-size: 1rem;
        background-color: green;
        align-self: flex-start;
        margin-bottom: 10px;
        padding: 5px;
        color: #fff;
        text-align: left;
        border-radius: 10px;
    }

    .rodape {
        height: 40vh;
    }

    .rodape h3 {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:812px) and (orientation: landscape) {
    .rodape {
        height: 75vh;
    }
}