/*CSS Reset*/
* {margin: 0; padding: 0; list-style: none; text-decoration: none; box-sizing: border-box; font-size: 100%; font-family: sans-serif; scroll-behavior: smooth;}
img{max-width: 100%;}
/*Fim do CSS Reset*/ 

/*topo*/
.menu {display: flex; justify-content: space-between; background: #191414; align-items: center; position: relative;}
.menu .logo {width: 100px; height: 65px;}
.menu ul {display: flex; align-items: center;}
.menu a{ color: #fff; text-transform: uppercase; padding: 10px; display: block; font-weight: bold;}
.menu a:hover {color: gray; transition: 0.6s;}
i.show_menu{display: none;}
.menu ul.active{left: 0; transition: all 0.6s;}/*classe adicionada para o menu responsivo*/

@media screen and (max-width:812px){
    .menu ul{position: absolute; flex-direction: column; width: 100%; height: calc(100vh - 89px); background: rgba(25, 20, 20, 0.87); text-align: center; top: 89px; left: -100%; transition: all 0.6s;}
    .menu li {display: block; width: 100vw; border-bottom: 1px solid white;}
    .menu li:nth-child(1){ border-top: 1px solid white; }
    i.show_menu{display: block; color: white; margin-right: 10px; cursor: pointer; font-size: 2rem;}
}
/*fim do topo*/

/*capa*/
main {max-width: 1366px; margin: 0 auto;}
.capa{background-image: url(../imagens/capa5.jpg); background-repeat: no-repeat; background-size: cover; width: 100%; height: calc(100vh - 89px); background-position: center; display: flex; align-items: center; text-align: center; justify-content: space-between; flex-direction: column;}
.capa a{background-color: blue; padding: 10px; border-radius: 10px;color: #fff; text-transform: uppercase; align-self: center; box-shadow: 5px 5px 7px black; margin-top: 50px;}
.capa h1, .capa p {font-size: 2rem; color: lightgray; padding: 10px; text-shadow: 4px 4px 2px black; font-weight: bolder;  padding: 10px; border-radius: 10px;}

@media screen and (max-width:812px){
    .capa { width: 100vw; background-position: center;}
    .capa h1, .capa p{font-size: 1.3rem; color: white; background-color: blue;}
    .capa h1{margin: 20px; }
    .capa p { margin-bottom: 30px;}
}
/*fim da capa*/

/*estudio*/
.estudios {width: 100%; display: flex; flex-direction: column; align-items: center; background-color: #adadad;}
.estudios_img{ display: flex;}
.estudios h2 { font-size: 2.5rem; color: white; border-bottom: 2px solid white; padding-top: 50px; text-shadow: 4px 4px 2px black; }
.estudios li {flex-basis: 25%; margin: 10px 20px;}
.estudios li img {width: 100%; height: 85%; box-shadow: 4px 4px 6px black; border-radius: 25px;}
.estudios li img:hover {transition: 0.4s; transform: scale(1.1)}

@media screen and (max-width:812px){
    .estudios_img{flex-direction: column;}
    .estudios h2 { font-size: 1.3rem; color: white; border-bottom: 2px solid white; padding-top: 50px; text-align: center; padding-top: 20px;}
    .estudios li {flex-basis: 100%;}
    .estudios li img:hover {transition: none; transform: none; opacity: .7;}
}
/*fim do estúdio*/

/*programação*/
.programacao {width: 100%; display: flex; flex-direction: column; background: orange; align-items: center; padding: 10px 10px 20px;}
.programacao_img {display: flex; }
.programacao h3{font-size: 2.5rem; color: white; border-bottom: 2px solid white; padding-top: 20px; text-shadow: 4px 4px 2px black;text-align: center;}
.programacao_img li{ flex-basis: 25%; flex-grow: 1; margin: 10px 20px; margin-top: 30px; background: #4141de; display: flex; flex-direction: column;  box-shadow: 4px 4px 6px black; border-radius:0 0 25px 25px;}
.programacao_img li img{width: 100%; height: 70%;}
.programacao li:hover {transition: 0.4s; transform: scale(1.1)}
.programacao_img li p{ color: #fff; text-align: center; padding: 5px; line-height: 1.6rem}
	
@media screen and (max-width:812px){
    .programacao_img {flex-direction: column; }
    .programacao_img li{flex-basis: 100%;}
    .programacao h3{font-size: 1.3rem;}
}
/*fim da programação*/

/*rodape*/
.rodape{width: 100%; background-color: saddlebrown; display: flex; flex-direction: column; align-items: center; text-align: center;}
.rodape h4{color:#fff; padding: 20px 0; order: 2}
.rodape .menu{width: 100%; order: 1;}
.rodape li{flex-grow: 1; text-align: center; border-right: 1px solid white;}
.rodape li:nth-child(6) {border-right: none;}
@media screen and (max-width:812px){
    .rodape .menu {flex-direction: column;}
}
/*fim do rodapé*/

/*página sobre*/
.container {width: 100%; display: flex; flex-direction: column; background: #7c7cf7;}
.conteudo {width: 100%; display: flex; justify-content: space-between; text-align: justify; align-items: center; padding: 10px; border-bottom: 2px solid blue; border-left: 2px solid blue;}
.conteudo div {flex-basis: 50%; margin: 20px;}
.conteudo img {box-shadow: 4px 4px 6px;}
.title_paragraph {display: flex; flex-direction: column;}
.conteudo p { box-shadow: 4px 4px 6px; padding: 10px; background-color: #f4f455; border-radius: 10px; margin-top: 15px;}
.conteudo h2 {font-size: 1rem; background-color: green; align-self: flex-start; margin-bottom: 10px; margin-left: 10px; padding: 5px; color: #fff; text-align: left; border-radius: 10px;}

@media screen and (max-width:812px){
    .conteudo {flex-direction: column;}
}
/*fim da página sobre*/
    
/*página cobertura*/
.cobertura {display: flex; width: 100%;justify-content: space-between; align-items: center; background-color: #c6c6c6;flex-direction:column;}
.cobertura h3{font-size: 2.5rem; color: white; border-bottom: 2px solid white; padding-top: 20px; text-shadow: 4px 4px 2px black; text-align: center;}
.cobertura .img_table {display: flex; width: 100%;}
.cobertura li{flex-basis: 50%; padding: 20px;}
.cobertura img { box-shadow: 4px 4px 6px;}
.cobertura table { margin: 10px auto; box-shadow: 4px 4px 6px; border-collapse: collapse;}
.cobertura table,.cobertura th,.cobertura td { border: 1px solid black; padding: 5px;}
.cobertura thead,.cobertura tfoot {font-weight: bolder; font-size: 1.1rem; padding: 5px; background-color: yellow;}
.cobertura tbody {background: #fff;}

@media screen and (max-width:812px){
    .cobertura h3{font-size: 1.3rem;}
    .cobertura .img_table{flex-direction: column;}
    .cobertura li{flex-basis: 100%;}
}
/*fim da cobertura*/
    
/*página contatos*/    
.logo {width: 100px;}
.dslogo {width: 200px; height: 100px;}
.contatos i {padding: 5px 10px 0 10px; font-size: 1.9rem;}
.contatos i.fa-whatsapp {color: #085c08;}
.contatos {display: flex; justify-content: space-between; flex-direction: column; background-color: #d1d1d1; padding: 10px; width: 100%; align-items: center;}
.redes-sociais {display: flex; width: 100%; padding: 10px; justify-content: space-around; align-items: center;}
.redes-sociais nav {padding: 10px; text-align: center; background-color: #fff; box-shadow: 4px 4px 6px black; border-radius: 20px;}
.redes-sociais nav a {color: green;}
.redes-sociais nav a:hover { text-decoration: underline;}
.redes-sociais iframe {box-shadow: 4px 4px 6px;}
.contatos a {color: blue; font-size: 1rem; text-transform: lowercase; display: block;}
.contatos i.fa-instagram {color: #e95950;}
.contatos i.fa-envelope-square {color: blue;}
.contatos i:hover {transform: scale(1.1);}

@media screen and (max-width:812px){
    .redes-sociais{flex-direction: column;}
    .redes-sociais nav {margin-bottom: 20px;}
    .redes-sociais iframe{width: 100%;}
}
